* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #77b3d4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity all 0.5s ease;
}
.ant1,
.ant2,
.ant3 {
  height: 200px;
  position: absolute;
  right: 0%;
}
.ant1 {
  top: 25%;
  transform: translate(100%, -25%);
  animation: ants 3s ease infinite;
}
.ant2 {
  top: 50%;
  transform: translate(100%, -50%);
  animation: ants 3s ease infinite 2s;
}
.ant3 {
  top: 75%;
  transform: translate(100%, -75%);
  animation: ants 3s ease infinite 1s;
}
.sun {
  animation: sun 1s ease infinite alternate;
  z-index: 1;
}
.preload h3 {
  position: absolute;
  top: 75%;
  color: white;
  font-size: 35px;
}
.preload-finish {
  opacity: 0;
  pointer-events: none;
}

@keyframes sun {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}
@keyframes ants {
  from {
    right: 0%;
  }
  to {
    right: 130%;
  }
}
